<div class="row">
  <div class="col-sm-6">
    <div ng-repeat="note in notes">
      <a ui-sref="notes.show({note: note})">{{note.contents}}</a>
    </div>

    <form name="new_note" ng-submit="createNote(note)" class="form-inline" role="form" >
      <div class="form-group">
        <label class="sr-only" for="note_contents">Note</label>
        <input type="text" id="note_contents" ng-model="note.contents" class="form-control" placeholder="Do all the things">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <!-- note info -->
  <div class="col-sm-6">
    <div ui-view></div>
  </div>
</div>