<div class="row">
  <div class="col-sm-9">
    <div ng-repeat="note in notes">
      <directive-type type="{{note.type}}"></directive-type> <a ui-sref="notes.show({note: note})">{{note.contents}}</a>
    </div>

    <form name="new_note" ng-submit="createNote(note)" class="form-inline" role="form" >
      <div class="form-group">
        <div class="btn-group" class="form-control">
          <button type="button" class="btn btn-default" ng-click="setNoteType('task')" ng-class="{'active': note.type == 'task'}"><i class="fa fa-square-o"></i></button>
          <button type="button" class="btn btn-default" ng-click="setNoteType('note')" ng-class="{'active': note.type == 'note'}"><i class="fa fa-circle"></i></button>
          <button type="button" class="btn btn-default" ng-click="setNoteType('event')" ng-class="{'active': note.type == 'event'}"><i class="fa fa-circle-o"></i></button>
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="note_contents">Note</label>
        <input type="text" id="note_contents" ng-model="note.contents" class="form-control" placeholder="Do all the things">
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <!-- note info -->
  <div class="col-sm-6">
    <div ui-view></div>
  </div>
</div>