<div class="jumbotron">
  <h1>FireJournal</h1>
  <p class="lead">For people that want to take notes, keep track of things, and let the journal-app take care of all the annoying bookkeeping.</p>
  <p><a class="btn btn-lg btn-success" ui-sref="sign_up_path" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Easily distinguishable notes</h4>
    <p>Our note system allows you to easily sort through different types of notes.</p>

    <h4>Automatic indexing</h4>
    <p>We create a monthly index that details important events and key points of information.</p>
  </div>

  <div class="col-lg-6">
    <h4>Track unfinished tasks</h4>
    <p>We automatically roll your unfinished tasks forward, so you never lose track.</p>

    <h4>Full history</h4>
    <p>Easily browse back to see what you did in past days, months, or years.</p>
  </div>
</div>
